<form action="http://localhost/dwes/webTrader/Back/public/subircsv" method="post" enctype="multipart/form-data">
    <input type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" name="filename" multiple>
        <input type="submit" value="Subir archivo">
    </form>